{% extends "base.html" %}


{% block content %}

<br>

    {% if messages %}
    	{% for message in messages %}
            <div {% if message.tags %}
                class="alert alert-{{ message.tags }}"
            {% endif %} >{{ message }}</div>
    	{% endfor %}
    {% endif %}

    <h1>Home Page!</h1>

    <ul class="list-group">
        {% for name in names %}

        <li class="list-group-item">
            <h1>{{ name }}</h1>
        </li>

        {% endfor %}


    </ul>

    <br>


{% endblock %}